*{
    margin: 0;
    padding: 0;
}


.full{
   background-image: url("fuul.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 95vh;
   width: 100vw;
   border: 3px ridge black;
   /* filter: blur(5px); */
   position: relative;
   
   /* -webkit-filter: blur(8px); */
      
}
.main{
    display: grid;
    place-items:center;
}

.board{
 
  /* background-color: rgba(236, 230, 230, 0.4); */
  background:linear-gradient(white,rgba(73, 137, 189, 0.651),rgba(10, 28, 190, 0.74));
  color: white;
  font-weight: bold;
  
  position: absolute; 
  top: 45%;
  left: 50%;
  transform: translate(-55%, -45%);
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  padding: 9px; 
  border:8px ridge rgba(72, 157, 226, 0.534);
}
/* .board:hover{
   
} */
#ttt{
    font-size: 20px;
    color: #0e36eb;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.board span{
    color: white;
}
.action{
   width: auto;
   float: left;
   display: flex;
   text-align: center;
   color: #065dfd;
   background:rgba(244, 245, 247, 0.534) ;
   border:2px solid #065dfd;
   border-radius: 4px;
   padding:2px;
}

.foot{
    float:left;
    max-width: 100%;
    text-align: center;
    background: linear-gradient(#efecf1 0%, #0972eb 100%);
}
.head{
    background: linear-gradient(#065dfd ,#ffffff, #065dfd );
}
.game-grid{
    background-color: rgba(175, 77, 221, 0.158);
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    grid-gap: 15px;
    margin-top: 30px;
    float: left;
   
}
.game-cell{
    height: 100px;
    width: 100px; 
    background: linear-gradient(rgb(255, 255, 255),rgb(86, 182, 238));
    display:flex;
    justify-content:center;
    text-align: center;
    color: rgb(0, 255, 234);
    padding: 0;
    text-shadow: 4px 4px rgb(10, 6, 252), 4px 4px 10px blue;
    display:flex;
    justify-content:center;
    text-align: center;
    font-size: 70px;
}
/* .game-cell p{
   
} */
